* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:whitesmoke;
    color: #221d1bee;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color:black ;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin-right: 20px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon img {
    width: 25px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.2);
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    background-color:  #3a86ff;
    color: white;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
}

.hero-content p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero-content .btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #3a86ff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.hero-image img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* About Section */
#about {
    padding: 60px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Projects Section */
#projects {
    padding: 60px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.project {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
#contact {
    padding: 60px 20px;
    text-align: center;
}

#contact form {
    display: inline-block;
    max-width: 500px;
    text-align: left;
}

#contact form label {
    display: block;
    margin: 10px 0;
}

#contact form input, #contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact form button {
    background-color: #3a86ff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
